[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-base
Type=Application
Categories=Office;Database;X-Red-Hat-Base;X-MandrivaLinux-MoreApplications-Databases;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
Name=LibreOffice Base
GenericName=Database Development
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Data;SQL;
InitialPreference=5
StartupWMClass=libreoffice-base
X-KDE-Protocols=file,http,ftp,webdav
Actions=NewDocument;
X-XFCE-Source=file:///usr/share/applications/libreoffice-base.desktop

[Desktop Action NewDocument]
Name=New Database
Exec=libreoffice --base
