[Desktop Entry]
Name=Thunderbird
Comment=Send and receive mail with Thunderbird
Comment[ru]=Читайте и пишите письма
GenericName=Mail Client
GenericName[ru]=Почтовый клиент
Exec=/usr/lib/thunderbird/thunderbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Name[ru]=Создать новое сообщение
Exec=/usr/lib/thunderbird/thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Name[ru]=Открыть адресную книгу
Exec=/usr/lib/thunderbird/thunderbird -addressbook
