[Desktop Entry]
Name=Pidgin Internet Messenger
Name[ru]=Клиент обмена мгновенными сообщениями Pidgin
GenericName=Internet Messenger
GenericName[ru]=Клиент обмена мгновенными сообщениями
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, and more
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
X-XFCE-Source=file:///usr/share/applications/pidgin.desktop
